@import "./bootstrap_variables";

.toast {
  border: none !important;
}

.custom-alert {
  width: 20px;
  height: 20px;
}

@each $color, $value in $alert-background {
  .alertbg-#{$color} {
    background: #{$value};
  }
}

.filter-label {
  top: -10px;
  left: 22px;
  z-index: 1;
  font-size: 12px;
  background: #fff;
  padding: 0px 5px;
  border-radius: 5px;
  color: $primary !important;
}
